.container {
  text-align: center;
  margin-top: 50px;
  font-family: Arial;
}

input {
  padding: 8px;
  margin-right: 10px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

li {
  margin-top: 10px;
}